
/* General styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

a {
	color: #fff;
	text-decoration: none;
}

li {
	list-style: none;
}

/* Header */

.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/desktop/image-hero.jpg);
	background-position: center; 
	background-size: cover;
	height: 650px;
}

.container {
	max-width: 1100px; 
	margin: 0 auto;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.menu ul {
	display: flex;
}

.menu ul li {
	margin-left: 20px;
}

nav li a:after, .footer-social-icons li a:after {
	content: '';
	display: block;
	height: 2px;
	width: 0;
	margin-top: 5px;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

nav li a:hover:after, .footer-social-icons li a:hover:after {
	width: 100%;
	opacity: 1;
}

#menu-btn {
	display: none;
}

.header-headline {
	margin-top: 130px;
	max-width: 630px;
	border: 2px solid #fff;
	padding: 37px;
}

.header-headline h1 {
	color: #fff;
	font-size: 72px;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/* SECTION OUR CREATION */

.our-creations {
	margin-top: 164px;
}

.headline-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headline-button h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 43px;
    text-transform: uppercase;
    font-weight: 300;
}

.headline-button a {
	color: #000;
	border: 2px solid #000;
	padding: 12px 43px;
	text-transform: uppercase;
	letter-spacing: 3px;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.headline-button a:hover {
	background: #000;
	color: #fff;
}

.images {
	padding-top: 70px;
}

.images ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.images ul li img {
	margin-bottom: 20px;
}

.overlay {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 450px;
	width: 256px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.2);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.overlay:hover {
	background: rgba(255, 255, 255, 0.6);
}

.overlay h3 {
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	font-weight: 300;
	text-transform: uppercase;
	padding-left: 35px;
	padding-bottom: 35px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.overlay:hover h3 {
	color: #000;
}

/* SECTION ABOUT */

.about {
    margin: 164px 0;
}

.about-image-flex {
	background-image: url(../img/desktop/image-interactive.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text-flex h2 {	
	font-size: 40px;
	letter-spacing: 1px;
	padding-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.about-text-flex p {
	color: #696969;
	line-height: 1.6;
}

.about-container {
	display: grid;
	grid-template-columns: 50% 15% auto;
	grid-template-rows: 229.5px auto;
}

.about-image-flex {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.about-text-flex {
	background-color: #fff;
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	padding: 94px 0 0 94px;
}

/* FOOTER */

footer {
	margin-top: 100px;
	background-color: #000;
}

footer .container {
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
	padding-bottom: 45px;
}

.footer-menu ul {
	display: flex;
	margin-top: 26px; 
}

.footer-social-icons ul {
	display: flex;
	align-items: center;
}

.footer-menu ul li, .footer-social-icons ul li {
	margin-right: 20px;
}

.footer-social-icons p {
	color: #8c8c8c;
	margin-top: 34px; 
}

/* Responsive */

@media all and (max-width: 1150px) {

    .container {
	    padding-left: 15px;
	    padding-right: 15px;
	}

	.header-headline {
	    max-width: 580px;
	}

	.header-headline h1 {
    font-size: 60px;
	}

	.images ul {
	justify-content: space-evenly;	
	}
}

@media all and (max-width: 950px) {
	.header-headline {
	    max-width: 530px;
	}

	.header-headline h1 {
    font-size: 55px;
	}

	.about-container {
		display: block;
	}

	.about-image-flex {
		max-width: 100%;
		height: 650px;
	}

	.about-text-flex {
		padding: 0;
		text-align: center;
		padding-top: 80px;
	}
}

@media all and (max-width: 800px) {

	.header-headline {
	    max-width: 500px;
	}

	.header-headline h1 {
    font-size: 50px;
	}

	footer .container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.footer-social-icons ul {
		justify-content: center;
   		margin-top: 20px;
	}

	.footer-menu ul li, .footer-social-icons ul li {
	margin: 0 10px;
	}
	
	.footer-social-icons p {
	    margin-top: 15px;
	}

@media all and (max-width: 700px) {

	.menu nav ul {
		position: absolute;
		width: 100%;
		height: 60vh;
		top: -100%;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 60px;	
		background: #000;
		transition: all .5s ease;
	}
	
	.menu nav li {
		margin-left: 0;
		margin-bottom: 15px;
	}

	.menu nav li a {
		font-size: 20px;
	}

	#menu-btn {
	position: relative;
	display: block;
	cursor: pointer;
	}

	.header-headline {
	    max-width: 450px;
	}

	.header-headline h1 {
    font-size: 45px;
	}
}

@media all and (max-width: 600px) {
	.header-headline h1 {
    font-size: 40px;
	}

	.about-text-flex h2, .headline-button h2 {
		font-size: 35px;
	}

	.headline-button a {
		padding: 12px 20px;
	}

}

@media all and (max-width: 550px) {
	.header-headline {
    	max-width: 410px;
	}
}

@media all and (max-width: 500px) {
	.header-headline {
    	max-width: 385px;
	}
}

@media all and (max-width: 450px) {
	.header-headline {
    	max-width: 350px;
	}

	.header-headline h1 {
    font-size: 35px;
	}
}

@media all and (max-width: 400px) {
	.header-headline {
    max-width: 310px;
	}

	.header-headline h1 {
    font-size: 31px;
	}

	.about-text-flex h2, .headline-button h2 {
		font-size: 25px;
	}

	.headline-button a {
		font-size: 14px;
		padding: 12px 10px;
	}

}





    